html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
}

#sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 30%;
  min-width: 240px;
}

#viewDiv {
  display: flex;
  flex: 15;
  height: 100%;
  width: 100%;
}

h2 {
  margin: 0;
  margin-top: 10;
  font-family: "Sofia", sans-serif;
  font-size: 70px;
  text-shadow: 3px 3px 3px #ababab;
}

#info {
  margin: 0;
  font-size: 20px;
  margin-bottom: 5px;
}

.topcorner{
  position:absolute;
  top:0;
  right:0;
  margin: 20px;
  font-size: 30px;
 }

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 0.4rem;
  width: auto;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 20%;
  background-image: linear-gradient(to left bottom, #242424, #343434, #454545, #575757, #696969, #696969, #696969, #696969, #575757, #454545, #343434, #242424);  border: 6px cyan solid;
  border-radius: 15px;
  z-index: 2;
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  width: fit-content;
  align-self: center;
}

.btn-open {
  position: absolute;
  bottom: 150px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.modal h2{
  margin-bottom: 50;
  /* color: white;
  text-shadow: 3px 3px 3px black; */
}


.hidden {
  display: none;
}